.Rproj.user
.Rhistory
.RData
.Ruserdata

ST24/data/
ST24/spaceranger-3.1.1/
ST24/sp_view/data/
ST24/meetings/chitrasen-22-aug-24/Rhesus\ sample.xlsx
ST24/meetings/chitrasen-22-aug-24/multiqc_report.html

Rolemodel/


rnaseq-2023/Atovaquone-Gene-Explorer
mouse-sejal/.~lock.data.csv#
meeting-notes/melanoma-dot
meeting-notes/patankar/lab-notes
mouse-tumor-volume/.Rhistory
mouse-tumor-volume/analysis.ipynb
rnaseq-2023/.direnv
rnaseq-2023/analysis-with-48hrs-tmp
rnaseq-2023/analysis-with-48hrs/plots-dec2024/plots_cache
rnaseq-2023/analysis-with-48hrs/plots-dec2024/plots_files
rnaseq-2023/analysis-with-48hrs/plots-dec2024/results
rnaseq-2023/analysis-with-48hrs/plots-dec2024/flake.nix
rnaseq-2023/analysis-with-48hrs/plots-dec2024/results.zip
rnaseq-2023/analysis-with-48hrs/plots-dec2024/shell.nix
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/analysis_cache
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/analysis_files
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/figures
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/plot-comparisons
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/results
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/.Rhistory
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/analysis.aux
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/analysis.fdb_latexmk
rnaseq-2023/analysis-with-48hrs/post-12sept-meeting/analysis.fls
rnaseq-2023/analysis-with-48hrs/results
rnaseq-2023/analysis-with-48hrs/.Rhistory
rnaseq-2023/analysis-with-48hrs/analysis-with-48hrs.zip
rnaseq-2023/generate-results_cache
rnaseq-2023/generate-results_files
rnaseq-2023/pairwise-comp/.Rproj.user
rnaseq-2023/pairwise-comp/output
rnaseq-2023/pairwise-comp/.Rhistory
rnaseq-2023/pairwise-comp/main.zip
rnaseq-2023/pairwise-comp/outputh24_45v30.csv
rnaseq-2023/pairwise-comp/outputh24_45vD.csv
rnaseq-2023/pairwise-comp/pairwise-comp.Rproj
rnaseq-2023/pairwise-comp/sig_genes.csv
rnaseq-2023/result-generator_cache
rnaseq-2023/result-generator_files
rnaseq-2023/results
rnaseq-2023/.envrc
rnaseq-2023/.Renviron
rnaseq-2023/.Rhistory
rnaseq-2023/Atovaquone-Gene-Explorer.zip
rnaseq-2023/flake.lock
rnaseq-2023/flake.nix
ST24/condor_outs
ST24/data/fastqs
ST24/FastQC
ST24/HE_slides
ST24/multiqc_data
ST24/QC
ST24/ref
ST24/scripts/MP2
ST24/scripts/MP19
ST24/scripts/MP33
ST24/scripts/MPH2
ST24/scripts/__MPH2.mro
ST24/sp_view/newdat/MP2
ST24/sp_view/preprocess/.ipynb_checkpoints
ST24/sp_view/preprocess/scanpy-clust
ST24/sp_view/preprocess/TME/spatial
ST24/sp_view/preprocess/.pybiomart.sqlite
ST24/sp_view/preprocess/for-soma.tar.gz
ST24/sp_view/spatialview
ST24/fastqc_v0.11.7.zip
ST24/multiqc_report_1.html